:root {
	--primary: #5c82f5;
	--primary-rgb: 92, 130, 245;
	--primary-light: #7598ff;
	--primary-lightest: #aabffd;
}

.overview-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.overview-list li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	margin-bottom: 0.75rem;
}

.overview-list li:last-of-type {
	margin-bottom: 0;
}

a {
	color: var(--primary-light);
	text-decoration: none;
	transition: color 0.15s ease;
}

a:hover {
	color: var(--primary-lightest);
	text-decoration: underline;
}

.no-mt {
	margin-top: 0;
}

main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 0;
}

.glow-icon {
	color: var(--primary);
	filter: drop-shadow(0 0 4px var(--primary));
}

.expressive-code {
	margin-top: 1rem;
}

.expressive-code figure {
	box-shadow: none;
}

.expressive-code figure pre {
	border-radius: 0;
}

.expressive-code figcaption {
	border: none;
	border-radius: 0;
}

.expressive-code figcaption::before {
	border: none;
}

.expressive-code span.title:not(.is-terminal span.title) {
	border-radius: 0;
}

.expressive-code span.title::after {
	border-top: 1px solid var(--primary);
	border-bottom: 0;
}

.expressive-code .frame.has-title:not(.is-terminal) figcaption.header {
	border-radius: 0;
}

.post-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	border: 1px solid #353535;
	color: #ffffff;
	text-decoration: none;
	transition:
		background-color 0.15s ease,
		border 0.15s ease;
}

.post-container:hover,
.post-container:focus-visible {
	background-color: rgba(var(--primary-rgb), 0.125);
	border: 1px solid var(--primary);
	color: white;
	text-decoration: none;
}

.post-container:focus-visible {
	outline: none;
}

.post-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.post-header h3 {
	margin: 0;
}

.post-date {
	color: #c7c7c7;
}

.text-glow {
	color: var(--primary);
	filter: drop-shadow(0 0 12px var(--primary));
}

.block-link {
	color: white;
	padding: 0.25rem 0.5rem;
}

.block-link:hover,
.block-link:focus-visible {
	color: white;
	background-color: var(--primary);
	text-decoration: none;
	outline: none;
}

@media screen and (max-width: 1380px) {
	body {
		padding: 0 2rem;
	}
}

@media screen and (max-width: 640px) {
	body {
		padding: 0;
	}

	main {
		padding-top: 0;
		gap: 1rem;
	}

	.post-header {
		flex-direction: column;
		gap: 0.5rem;
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
