---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
---

<BaseLayout title="Cookie" description="A full-stack developer.">
	<main>
		<Card>
			<h1>Cookie</h1>
			<p>A full-stack developer.</p>
		</Card>
	</main>
</BaseLayout>
