<header class="font-geistmono flex items-center justify-between pb-8">
	<a href="/" class="px-2 py-1 text-xl font-extrabold hover:bg-blue-500"
		>Cookie</a
	>
	<ul class="flex items-center space-x-2">
		<li>
			<a href="/blog" class="px-2 py-1 hover:bg-blue-500">Blog</a>
		</li>
		<li class="text-gray-400">/</li>
		<li>
			<a href="/projects" class="px-2 py-1 hover:bg-blue-500">Projects</a>
		</li>
	</ul>
</header>
