---
import "@fontsource/geist";
import "@fontsource/geist-mono";

import "@/styles/global.css";
import Header from "@/components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body
		class="font-geist m-auto flex max-w-7xl flex-col bg-neutral-900 py-8 text-white"
	>
		<Header />
		<slot />
	</body>
</html>
